<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="209715200" />
        </requestFiltering>
      </security>
    </system.webServer>
    <!--<system.web>
      <processModel autoConfig="true" enable="true"
                    requestQueueLimit="5000"
                    maxWorkerThreads="100" maxIoThreads="100"
                    minWorkerThreads="50" minIoThreads="50"
         />
    </system.web>-->
  </location>
</configuration>
